* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
}

footer {
    width: 100%;

}

a {
    text-decoration: none;
}

.main-nav {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
    color: #435;
}

.main-nav li:hover {
    color: #0ba;
}

header {
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    list-style: none;
    margin-top: 14px;
}

footer {
    width: 100%;
    background-color: #444;
    text-align: center;
    padding: 26px 0;
    color: #fff;
}

.main-visual {
    text-align: center;
    margin-top: 20%;
}

.main-visual p {
    font-size: 1.2rem;
    margin: 10px 0 40px
}

.main-visal p {
    font-size: 1.2rem;
    margin: 10px 0 40px;
    font-family: 'Times New Roman', Times, serif;
}

.main-title {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.btn {
    font-size: 1.2rem;
    background-color: #0ba;
    color: #fff;
    border-radius: 30px;
    padding: 20px 50px;
}

.brt:hover {
    background-color: #0090dd;
}